<div [formGroup]="form">

  <div class="form-group">

    <label for="examplePassword">Password</label>
    <input type="password" class="form-control" formControlName="password" id="examplepassword" aria-describedby="passwordHelp" placeholder="Enter password">

    <div
      *ngIf="passwordControl.touched && passwordControl.hasError('required')"
      class="error"
    >
      password is required
    </div>

    <label for="exampleConfirmPassword">Password</label>
    <input type="password" class="form-control" formControlName="confirmPassword" id="exampleConfirmPassword" aria-describedby="confirmPasswordHelp" placeholder="Confirm Password">

    <div
      *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')"
      class="error"
    >
      password is required
    </div>

    <div
      *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')"
      class="error"
    >
      passwords do not match
    </div>

  </div>

</div>
